@model EAutoSkola.ViewModel.RasporedPolaganjaVM;
    <div class="divForme">
        <h2>Evidentiraj raspored polaganja</h2>

        <form method="post">

            <div class="form-group">
                <label>Datum uplate</label>
                <input asp-for="Datum" class="form-control" >
            </div>
            <button type="submit" class="btn btn-primary">Sacuvaj</button>
        </form>
    </div>