@{

    Layout = "_LayoutReferent";
}
<div class="divForme">
    <h2>Dodaj kategoriju</h2>
    <form class="Dodavanje" action="/Kategorija/DodajKategoriju">
        <div class="form-group">
            <label>Naziv</label>
            <input type="text" class="form-control" name="Naziv">
        </div>
        <div class="form-group">
            <label>Opis</label>
            <input type="text" class="form-control" name="Opis">
        </div>

        <button type="submit" class="btn btn-primary">Sacuvaj</button>
    </form>
 </div>


