
@{
    ViewData["Title"] = "UspjesnaRegistracija";
    Layout = "_LayoutPocetni";
}
<h2 style=" color: #f9f9f9;
    border: 2px solid #f9f9f9;
    padding: 10px;
    background-color: #00c6ff">
    Uspjesna registracija!<br />Za nekoliko trenutaka, dobicete aktivacijski link na Vas Email. Molimo potvrdite Vas korisnicki nalog!
</h2>
